button {
    cursor: pointer;
    background-color: var( --clr1bg);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;   
}

button:hover {
    background-color: var(--clr2);
    color: rgba(245, 245, 245, 0.775);
    transition: .3s;
    scale: 1.1;
}
input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}